<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Boiler Plate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <h1 class="judul">Halo Dunia</h1>
    <div class="container">
        <p class="deskripsi">Ini adalah contoh aplikasi web menggunakan Flask</p>
        <p id="js"></p>
    </div>
    <script src="{{url_for('static', filename='script/javascript.js')}}"></script>
</body>

</html>